.badge {
  line-height: 20px !important;
  width: 20px !important;
  padding: 0 !important;
  background: #D73B3A !important;
  position: relative !important;
  top: -15px !important;
  left: -15px !important;
}

#circle {
	position: relative;
	width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #F3C15B;
  bottom: 170px !important;
	left: 290px !important;
}
