.main-menu {
  display: flex;
  justify-content: space-around;
  transition: all 0.3s ease;
  position: relative;
  align-content: center;
  vertical-align: middle;
}

.main-menu h3 {
  font-size: 20px;
  padding: 10px;
  transition: all 0.3s ease;
}

.main-menu h3:hover {
  background: rgb(240, 240, 240);
}

.main-menu h4 {
  flex: 1 0 auto;
  padding: 10px;
  align-items: center;
}

.main-menu h4:hover {
  background: rgb(240, 240, 240);
}

.main-menu p {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  opacity: 0.6;
  text-align: center;
  font-size: 20px;
}

.main-menu p:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}

.main-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto auto auto;
  transition: all 0.3s ease;
  font-size: 20px;
  text-align: center;
}